@model TextEditor.Models.FormatView

@{
    ViewBag.Title = "Format";
    string color = "black";
}

@if (!Model.Page.isOk)
{
    color = "red";
}
else
{
    color = "black";
}
<h5 style="margin-top:30px;">Paper Type: - File: @Model.Page.PaperType.FileValue - DB: @Model.Page.PaperType.DBValue </h5>
@if (@Model.Page.PaperType.FileValue.Equals(@Model.Page.PaperType.DBValue))
{
    <p>Đúng khổ giấy</p>
}
@if (!@Model.Page.PaperType.FileValue.Equals(@Model.Page.PaperType.DBValue))
{
    <p stype="collor: red">Sai khổ giấy</p>
}
<div class="row" style="border:solid 1px @color; padding: 50px 0;">
    @Html.Raw(ViewBag.Html)
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {

            @foreach(var e in Model.Properties)
            {
                @Html.Raw("ColorString(\"" + e.Key + "\", \"" + e.Value.Name + "\"); \n");
            }

            $('[data-toggle="tooltip"]').tooltip(); 
        });

        function ColorString(str, error) {
            $("span:contains('" + str + "')").each(function () {
                $(this).html($(this).html().replace(
                    new RegExp(str, 'g'), '<span style="color:red;" data-toggle="tooltip" title="' + error + '" >' + str + '</span>'
                ));
            });
        }

    </script>
}