@model TextEditor.Models.CrudFileTable

@{
    ViewBag.Title = "Index";

    List<SelectListItem> type = new List<SelectListItem>();
    type.Add(new SelectListItem { Text = "Cover", Value = "Cover" });
    type.Add(new SelectListItem { Text = "Side Cover", Value = "SCover" });
    type.Add(new SelectListItem { Text = "Normal", Value = "Normal" });
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">File</h3>
            </div>
            <div class="panel-body">
               @using (Html.BeginForm("index", "file", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {
                @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="file" name="fileUpload" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.FileTableUpload.Type, new SelectList(type, "Value", "Text"), new { @class = "selectpicker form-control" })
                            @Html.ValidationMessageFor(model => model.FileTableUpload.Type, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <button id="btn_upload_file" class="btn btn-default" type="submit">Upload</button>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Time
        </th>
        <th>
            Type
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model.FiletableView) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            <a href="Upload/@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Check", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Check Gramar","CheckGramar", new { id = @item.Id})
        </td>
    </tr>
}

</table>

@section Scripts
{

}