@model IEnumerable<TextEditor.Models.FormatGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h2 class="text-center">Các Khóa học </h2>

    <p class="text-right">
        <a class="btn btn-primary" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Thêm mới</a>
    </p>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.Id })" title="Sửa">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })" title="Xóa">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
 </div>
