@model TextEditor.Models.PageFormat

@{
    ViewBag.Title = "Chi tiết định dạng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Chi tiết định dạng</h2>
        <br />
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarginLeft)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarginRight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarginTop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarginBottom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaperType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FontFamily)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MarginLeft)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MarginRight)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MarginTop)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MarginBottom)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PaperType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FontFamily)
                </td>
            </tr>
        </table>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
