@model TextEditor.Models.PageFormat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PageFormat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarginLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarginLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarginRight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarginRight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarginTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarginTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarginBottom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarginBottom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FontFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FontFamily)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
