@model IEnumerable<TextEditor.Models.PageFormat>

@{
    ViewBag.Title = "Các định dạng trang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h2 class="text-center">Các định dạng trang</h2>

    <p class="text-right">
        <a class="btn btn-primary" href="@Url.Action("Create", "PageFormat")"><i class="fa fa-plus"></i> Thêm mới</a>
    </p>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MarginLeft)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MarginRight)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MarginTop)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MarginBottom)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PaperType)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FontFamily)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarginLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarginRight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarginTop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarginBottom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FontFamily)
            </td>
            <td class="text-center">
                <a class="btn btn-info" href="@Url.Action("Edit", "PageFormat", new { id = item.Id })" title="Sửa">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-success" href="@Url.Action("Details", "PageFormat", new { id = item.Id })" title="Xem chi tiết">
                    <i class="fa fa-eye"></i>
                </a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "PageFormat", new { id = item.Id })" title="Xóa">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

    </table>
</div>